body {
  margin: 0;
  background-color: burlywood;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: rgb(3, 71, 71);
}
.one {
  display: block;
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME */
  padding: 35px;
  margin: 10px;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  margin-bottom: 50px;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME */
  padding: 35px;
  margin-left: auto;
}